body{
    background: mediumseagreen;
}
.cell{
	display: inline-block;
	background-color: green;
	border: 2px solid black;
	height: 80px;
	width: 80px;
	text-align: center;
	padding-top: 6px;
}

.token{
	border-radius: 100px;
	display: inline-block;
	height: 65px;
	width: 65px;
}

#header{
    border: 5px solid darkslategray;
    

}

#board{
   background-color: darkslategrey;
   border:darkslategrey;
}

#redWin{
    color: red;
    text-align: right;
}

#blackWin{
    color: black;
    text-align: left;
}

#c4{
    text-align: center;
}
.btn-default{
    background-color: #DFF0D8;
    margin:5px;
}

